{include file="common/head"}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('Index/welcome')}">首页</a>
        <a href="{:url('Admin/listRole')}">角色列表</a>
        <!--<a><cite>导航元素</cite></a>-->
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="r_name"  placeholder="请输入角色名" value="{$r_name}" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick='role_delAll("{:url('Admin/deleteRole')}")'><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加角色','{$addRoleUrl}')"><i class="layui-icon"></i>添加角色</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>角色名</th>
            <th>描述</th>
            <th>操作</th>
        </thead>
        <tbody>
        {volist name='authList' id='v'}
            <tr>
              <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$v.r_id}'><i class="layui-icon">&#xe605;</i></div>
              </td>
              <td>{$v.r_id}</td>
              <td>{$v.r_name}</td>
              <td>{$v.r_desc}</td>
              <td class="td-manage">
                <a title="编辑"  onclick='x_admin_show("编辑","{:url('Admin/editRole')}?r_id={$v.r_id}")' href="javascript:;">
                  <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick='role_del("{:url('Admin/deleteRole')}",this,"{$v.r_id}")' href="javascript:;">
                  <i class="layui-icon">&#xe640;</i>
                </a>
              </td>
            </tr>
        {/volist}
        </tbody>
      </table>
      {$page}
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      /*用户-删除*/
      function role_del(url,obj, id) {
          layer.confirm('确认要删除吗？', function (index) {
              //发异步删除数据
              var data = {r_id: id, op: 'delete'};
              toPostAjax(url, data, function (res) {
                  if (res) {
                      if(res != -1){
                          layer.msg('删除成功', {icon: 1,time:1000},function () {
                              location.replace(location.href);
                          });
//                          $(obj).parents("tr").remove();
//                          location.replace(location.href);
                      }else{
                          layer.msg('有管理员正在使用该角色，删除失败！', {icon: 5});
                      }
                  } else {
                      layer.msg('删除失败!', {icon: 2, time: 1000});
                  }
              });
          });
      }

      function role_delAll(url) {
          layer.confirm('确认要删除吗？', function (index) {
              var data = tableCheck.getData();
              //捉到所有被选中的，发异步进行删除
              if(data.length <= 0){
                  layer.msg('请选择需要删除的选项', {icon: 5});
                  return false;
              }
              var ids = '';
              for(var i=0;i<data.length;i++){
                  ids +=data[i]+',';
              }
              ids = ids.substr(0,ids.length-1);
              toPostAjax(url, {op:'delete',r_id:ids}, function (res){
                  if(res){
                      if(res != -1){
                          layer.msg('删除成功', {icon: 1,time:1000},function () {
                              location.replace(location.href);
                          });
//                          $(".layui-form-checked").not('.header').parents('tr').remove();

                      }else{
                          layer.msg('有管理员正在使用该角色，删除失败！', {icon: 5});
                      }
                  }else{
                      layer.msg('删除失败', {icon: 5});
                  }
              });
          });
      }

    </script>

  </body>

</html>